.btn-radius{
  padding: 10px 20px!important;
  text-align: center!important;
  text-decoration: none!important;
  display: inline-block!important;
  margin: 4px 2px!important;
  cursor: pointer!important;
  border-radius: 20px!important;
}
.btn-outline{
  border: 1px solid #2fb9ab!important;
  color: #2fb9ab!important;
}
